.root {
    margin-bottom: 150px;

    .image {
        filter: grayscale(1);

        transition: filter 0.2s ease-in-out;

        &:hover {
            filter: grayscale(0);
            cursor: pointer;
        }
    }

    .seeAllBtn {
        text-decoration: underline;
        text-align: center;
    }
}
