@import 'styles/variables.scss';

.root {
    position: relative;
    padding: 30px;
    box-shadow: 1px 1px 0 0 black, inset 1px 1px 0 0 black;
    height: 150px;
    width: calc($app-width / 3);
    height: 240px;
    color: $black;

    .heading {
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
        text-transform: uppercase;
        justify-content: space-between;
        display: flex;

        span {
            font-family: $barracuda;
        }
    }

    .number {
        font-family: $barracuda;
        font-size: 24px;
        margin-left: auto;
        font-weight: 400;
    }

    .description {
        font-family: $poppins;
        font-size: 16px;
        line-height: 24px;
    }
}
