@import 'styles/variables.scss';

.root {
    display: block;
    padding: 20px 24px;
    border: 1px solid $black;
    background-color: transparent;
    transition: background 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: $orange;
    }
}
