@import 'styles/variables.scss';

.root {
    font-size: 16px;
    font-family: $poppins;

    .header {
        color: $black2;
        font-family: $barracuda;
        font-size: 54px;
        text-transform: uppercase;
    }

    .addition {
        margin-top: 10px;
        font-family: $barracuda;
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .image {
        background-color: $grey2;
        display: block;
        height: 100%;
        width: 100%;
    }

    .title {
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        margin-top: 20px;
    }

    .description {
        margin-top: 20px;
        line-height: 24px;
    }
}

@media screen and (max-width: $app-mobile-width) {
    .root {
        .header {
            font-size: 40px;
        }

        .image {
            margin: 0 auto;
        }
    }
}
