@import 'styles/variables.scss';

.root {
    font-size: 16px;
    font-family: $poppins;

    .header {
        color: $black2;
        font-family: $barracuda;
        font-size: 54px;
        text-transform: uppercase;
    }

    .image {
        background-color: $grey2;
    }

    .title {
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        margin-top: 20px;
    }

    .description {
        margin-top: 20px;
        line-height: 24px;
    }
}
