@import 'styles/variables.scss';

.root {
    margin: 0 auto;
    width: $app-width;
}

@media screen and (max-width: $app-mobile-width) {
    .root {
        width: $app-mobile-width;
        padding: 0 18px;
    }
}
