// dimensions
$app-width: 1280px;
$app-mobile-width: 390px;

// colors
$app-background: #fffdf2;
$black: #000000;
$black2: #282828;
$grey2: #4f4f4f;
$orange: #fde170;

// fonts
$poppins: Poppins, sans-serif;
$barracuda: Barracuda, sans-serif;
