@import 'styles/variables.scss';

.root {
    background-color: $orange;
    padding: 20px 24px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    border: 1px solid $black;
    text-align: center;

    &:hover {
        cursor: pointer;
    }
}
