@import 'styles/variables.scss';

.root {
    margin-top: 150px;

    .divider {
        position: relative;
        min-width: $app-width;

        .anchor {
            position: absolute;
            top: -50px;
        }

        .container {
            .title {
                position: absolute;
                top: -24px;
                padding: 0 20px;
                background-color: $app-background;
                font-family: $barracuda;
                font-size: 54px;
                line-height: normal;
                width: fit-content;
                text-transform: uppercase;
                white-space: nowrap;
                overflow-wrap: normal;
            }
        }
    }
}
