@import 'styles/variables.scss';

.root {
    border-bottom: 1px solid $grey2;
    height: 86px;

    display: flex;

    transition: height 0.2s linear;

    &:first-of-type {
        border-top: 1px solid $grey2;
    }

    .container {
        .flexContainer {
            .imageContainer {
                .image {
                    animation: fade-in 0.2s linear;
                    width: 620px;
                    height: 350px;
                    background-color: #d9d9d9;
                    margin-right: 40px;
                }
            }
        }

        .title {
            font-family: $barracuda;
            font-size: 20px;
            line-height: 26px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .toggleButton {
            display: block;
            margin-left: auto;
            padding: 0;
            border: none;
            height: fit-content;

            &:hover {
                background-color: transparent;
            }
        }

        .mirror {
            transform: scale(1, -1);
        }
    }
}

.expanded {
    height: 410px;
}

.none {
    display: none !important;
}

@keyframes fade-in {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        opacity: 1;
        height: 350px;
    }
}

@media screen and (max-width: $app-mobile-width) {
    .root {
        .container {
            max-height: 378px;

            .title {
                // justify-content: flex-start !important;
                align-items: auto !important;
            }

            .flexContainer {
                width: 100%;
                flex-direction: column;
                justify-content: center;

                .imageContainer {
                    width: 100%;

                    .image {
                        animation: fade-in-mobile 0.2s linear;
                        display: block;
                        height: 202px;
                        width: 100%;
                        max-height: 202px;
                        object-fit: cover;
                    }
                }

                .additionContainer {
                    width: 100%;
                    margin-top: 10px;
                }
            }
        }
    }

    .expanded {
        height: fit-content;
    }
}

@keyframes fade-in-mobile {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        opacity: 1;
        height: 202px;
    }
}
