@import 'styles/variables.scss';

.root {
    border-bottom: 1px solid $grey2;
    height: 86px;
    display: flex;

    transition: height 0.2s linear;

    &:first-of-type {
        border-top: 1px solid $grey2;
    }

    .container {
        .image {
            width: 620px;
            height: 350px;
            background-color: #d9d9d9;
            margin-right: 40px;
            animation: fade-in 0.2s linear;
        }

        .title {
            font-family: $barracuda;
            font-size: 20px;
            line-height: 26px;
            text-transform: uppercase;
        }

        .toggleButton {
            display: block;
            margin-left: auto;
            padding: 0;
            border: none;
            height: fit-content;

            &:hover {
                background-color: transparent;
            }
        }

        .mirror {
            transform: scale(1, -1);
        }
    }
}

.expanded {
    height: 410px;
}

.none {
    display: none !important;
}

@keyframes fade-in {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        opacity: 1;
        height: 350px;
    }
}

@media screen and (max-width: $app-mobile-width) {
    .root {
        .container {
            .flexContainer {
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                .image {
                    width: 358px;
                    height: 202px;
                    animation: fade-in-mobile 0.2s linear;
                }

                .additionContainer {
                    width: 358px;
                    margin-top: 10px;
                }
            }
        }
    }

    .expanded {
        height: 336px;
    }
}

@keyframes fade-in-mobile {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        opacity: 1;
        height: 202px;
    }
}
