@import 'styles/variables.scss';

.root {
    .title {
        font-size: 54px;
        font-family: $barracuda;
        min-width: fit-content;
        text-transform: uppercase;
    }

    .mail {
        padding: 20px 24px;
        background-color: $orange;
        text-transform: uppercase;
        line-height: 20px;
    }
}
