@import 'styles/variables.scss';

.root {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    font-family: $poppins;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 50px;

    a {
        color: $grey2;
    }

    .active {
        color: $black;
    }
}
